html, body, #root, .App {
  height: 100%;
  width: 100%;
}

.App { 
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../public/img/pokemon-background-2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.container {
  overflow: hidden;
  display: flex !important;
  justify-content: center;
  align-content: center;
}
